<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   <title>Contact Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>   
    <link href="Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/CSS/contact.css">
</head>

<body>

    
  <div class="navbar">
    <div class="entete">
        <div class="logo">
            <a href="#">
                <h2 style="color: whitesmoke;">Re<span>Zer</span>V...</h2>
            </a>
            
        </div>
        <div class="decon">
            <div class="elem_con1">
                <a href="#">
                    <p style="margin: 5px 0px 0px 20px; color: white;">S'inscrire</p>
                </a>
            </div>
            <div class="elem_con2">
                <a href="#">
                    <p style="margin: 5px 0px 0px 20px; color: #133f7e;">Connexion</p>
                </a>
            </div>
        </div>
    </div>
    <div class="indexxx">
        <div style="display: flex; margin-top: 1%; "> 
            <i class="fa-light fa-taxi" style="color: #050505;"></i>
            <div class="accueil_b">
                <a href="../index.html">
                    <p style="margin: 5px 0px 0px 20px; color: white;">Accueil</p>
                </a>
            </div>
        </div>
        <div style="display: flex; margin-top: 1%; margin-left: 2%;">
            <i class="fa-regular fa-car" style="color: #161717;"></i>
            <div class="contact_b">
                <a href="#">
                    <p style="margin: 5px 0px 0px 20px; color: #133f7e;">Contact</p>
                </a>
            </div>
        </div>
    </div>
</div>

  <div>
    <div class="container">
      <div class="contact-parent">
        <div class="contact-child child1">
          <p>
            <i class="fas fa-map-marker-alt"></i> Address <br />
            <span> 01 BP 102 
              <br />
                Abidjan, CI
            </span>
          </p>

          <p>
            <i class="fas fa-phone-alt"></i> Télephone <br />
            <span> 0787878787</span>
          </p>
          <p>
            <i class=" far fa-envelope"></i> Support général <br />
            <span>koko@rezerv.ci</span>
          </p>
        </div>
        <div class="contact-child child2">
          <div class="inside-contact">
            <h2>Contactez-Nous</h2>
            <h3>
              <span id="confirm">

            </h3>
            <p>Nom *</p>
            <input id="txt_name" name="nom" type="text" Required="required">
            <p>Email *</p>
            <input id="txt_email" name="email" type="text" Required="required">
            <p>Numero *</p>
            <input id="txt_phone" name="numero" type="text" Required="required">
            <p>Objet *</p>
            <input id="txt_subject" name="objet" type="text" Required="required">
            <p>Message *</p>
            <textarea id="txt_message" name="message" rows="4" cols="20" Required="required" ></textarea>
            <input type="submit" id="btn_send" value="ENVOYER">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">

  </div>
</body>
</html>