<!doctype html>
<html>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    <title>Custom Coding</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../static/CSS/taxi.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <header style="height: 125px; background-color: #133f7e;">
          <a href="#">
            <h2 style="color: whitesmoke; font-family: Poppins;">Re<span style="color: black;">Zer</span>V...</h2>
          </a>
            <nav >
              
              <li><a href="#" style="color: red;">Taxi-Aéroport</a> </li> 
              <li><a href="#">Voiture/Car</a> </li>
              <li><a href="#" >Déconnexion</a> </li>
                
            </nav>
        </header>

        <!-- ==== A REMPLIR POUR TOUTE LES PAGES ==== -->
        <div class="corps">
            <div class="info_option">
                <div class="info">
                    <i class="fa-duotone fa-plane"></i>
                    <h4>Réservez Votre Taxi Aéroport</h4>
                    <p>Transferts aéroport faciles depuis et vers votre logement</p>
                </div>
                <div class="option">
                    <p><input type="checkbox"  class="choix">Sens Unique</p>
                    <p style="margin-left: 15px;"><input type="checkbox" class="choix">Retour</p>
                </div>
            </div>
            <div class="tttttt">
                <input type="text" placeholder="Entrez le Lieu D'attente" class="inpp">
                <input type="text" placeholder="Entrez la Destination" class="inpp">
                <input type="date" name="startDate"  placeholder="Date" class="date">
                <input type="text" placeholder="Heure du RDV" class="ssss">
                <input type="number" placeholder="Passagers" class="ssss">
                <a href="#" style="width: 130px; height: 60px; background-color: #0071c2;; border: 3px solid #febb02;"><div style="display: flex; "><p style="color: aliceblue; margin: 9% 1% 2% 9%; font-size: 22px;">Recherche</p></div></a>
            </div>
            <div class="bas">
                <div class="bas1">
                    <div><i class="fa-solid fa-plane"></i></div>
                    <div>
                        <h5>Suivi des vols</h5>
                        <p style="color: gray;">Votre chauffeur suit votre vol et vous <br> attend s'il est retardé</p>
                    </div>
                </div>
                <div class="bas2">
                    <div><i class="fa-regular fa-credit-card"></i></div>
                    <div>
                        <h5>Un prix clair</h5>
                        <p style="color: gray;">Votre prix est confirmé à l'avance - pas <br> de frais supplémentaires, pas d'espèces <br> requises</p>
                    </div>
                </div>
                <div class="bas3">
                    <i class="fa-thin fa-circle-check"></i>
                    <div>
                        <h5>Testé et approuvé</h5>
                        <p style="color: gray;">Nous travaillons avec des chauffeurs <br> professionnels et avons un service client <br> 24h/24 et 7j/7</p>
                    </div>
                </div>
            </div>
        </div>
	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square"></i></a></li>
		</ul>
        <p style="margin-top: 3%;">Copyright © 2013 - 2023 ReZerV... Tous droits réservés.</p>
	</footer>
        
  </body>
</html>

