<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  
    <div class="navbar">
        <div class="entete">
            <div class="logo">
                <a href="#">
                    <h2 style="color: whitesmoke;">Re<span>Zer</span>V...</h2>
                </a>
                
            </div>
            <div class="decon">
                <div class="elem_con1">
                    <a href="#">
                        <p style="margin: 5px 0px 0px 20px; color: white;">S'inscrire</p>
                    </a>
                </div>
                <div class="elem_con2">
                    <a href="#">
                        <p style="margin: 5px 0px 0px 20px; color: #133f7e;">Connexion</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="indexxx">
            <div style="display: flex; margin-top: 1%; "> 
                <i class="fa-light fa-taxi" style="color: #050505;"></i>
                <div class="accueil_b">
                    <a href="#">
                        <p style="margin: 5px 0px 0px 20px; color: #133f7e;">Accueil</p>
                    </a>
                </div>
            </div>
            <div style="display: flex; margin-top: 1%; margin-left: 2%;">
                <i class="fa-regular fa-car" style="color: #161717;"></i>
                <div class="contact_b">
                    <a href="#">
                        <p style="margin: 5px 0px 0px 20px; color: white;">Contact</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="corps">
        <div class="corps1">
            <h1 style="margin: 7% 0% 0% 18%; color: white;">BIENVENUE DANS VOTRE PLATEFORME DE RESERVATION LA PLUS FIABLE</h1>
        </div>
        <div class="corps2">
            <div style="margin: 2%;">
                <h5>Des Recompenses au gré de vos envies</h5>
                <p>Allez-y quand et où vous voulez,<br> et profitez d'avantage</p>
            </div>
            <div style="margin: 2%;">
                <h5>Devoilez des remises instantanées</h5>
                <p>Economisez en moyenne 5% sur des <br> convoies avec les prix membres</p>
                <a href="#">S'inscrire gratuitement</a>
                <a href="#">Connexion</a>
            </div>
            <div style="margin: 2%;">
                <h5>L'annulation est gratuite</h5>
                <p>Profitez des reservations flexibles dans <br> la pluspart de ville</p>
            </div>
        </div>

    </div>
    <div class="footer">
        <div style="justify-content: center; height: 55px; width: 465px; margin-left: 40%;">
            <h6 style="color: white; font-size: 14px; margin-left: -20%;">Inscrivez-vous à notre new letter pour ne rater aucune occasion!</h6>
            <input type="email" name="email" placeholder="Email *" style="height: 30px;" />
            <button style="width: 100px; height: 35px; border-radius: 3px; cursor: pointer;">Envoyez</button>
        </div>
        <p style="color: white; margin: 6.2% 0% 0% 43%;">Copyright © 2013 - 2023 ReZerV... Tous droits réservés.</p>
        
    </div>

</body>
</html>