<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CONNEXION</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/CSS_1/coon.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header style="height: 125px; background-color: #133f7e;">
    <a href="{{ url_for('index') }}">
        <h2 style="color: whitesmoke; font-family: Poppins;">Re<span style="color: black;">Zer</span>V...</h2>
    </a>

</header>

<!-- ==== A REMPLIR POUR TOUTES LES PAGES ==== -->
<main>
    <div>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form method="post" action="{{url_for('coon')}}">
                    <h1>CONNEXION</h1>
                    <input type="email" name="email" placeholder="Email" />
                    <input type="password" name="mot_de_passe" placeholder="Mot de Passe" />
                    <button type="submit">Connexion</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1 style="color: black;">Excellent!</h1>
                        <p style="color: white;">Entrez vos données personnelles et connectez-vous !</p>
                        <a href="url_for{{'inscri'}}"><button class="ghost" id="signUp">S'inscrire</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



</body>
</html>
