<!doctype html>
<html>
  <head>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    <title>Custom Coding</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/CSS_1/inscri.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <title>LOCATION VOITURE/CAR</title>
</head>
    <body>
        <header style="height: 125px; background-color: #133f7e;">
          <a href="{{ url_for('index') }}">
            <h2 style="color: whitesmoke; font-family: Poppins;">Re<span style="color: black;">Zer</span>V...</h2>
          </a>
            <nav >
              
              <li><a href="{{ url_for('index') }}">Accueil</a> </li> 
              <li><a href="{{ url_for('contt') }}">Contact</a> </li>
              <li><a href="#" style="color: red;">S'inscrire</a> </li>
              <li><a href="{{ url_for('coon') }}" >Connexion</a> </li>

                
            </nav>
        </header>

        <!-- ==== A REMPLIR POUR TOUTE LES PAGES ==== -->
        <main>
          <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form method="post" action="#">
                    <h1>INSCRIPTION</h1>
                    <input type="text" name="nom" placeholder="Nom & Prénom *"/>
                    <input type="email" name="email" placeholder="Email *" />
                    <input type="password" name="mot_de_passe" placeholder="Mot de Passe *"/>
                    <a href="{{ url_for('coon') }}"><button>S'inscrire</button></a>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1 style="color: black;">Bienvenue!</h1>
                        <p style="color: black;">La Plateforme Qui Vous Permet De Reserver Vos Destinations  En Toute Simplicité .</p>
                        <a href="{{ url_for('coon') }}"><button class="ghost" id="signUp">Connexion</button></a>
                    </div>
                </div>
            </div>
        </div>
        </main>

	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square"></i></a></li>
		</ul>
        <p style="margin-top: 3%;">Copyright © 2013 - 2023 ReZerV... Tous droits réservés.</p>
	</footer>
        
  </body>
</html>