<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    <title>Custom Coding</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/CSS_1/reserv_taxi.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <title>LOCATION VOITURE/CAR</title>
</head>
<body>
    <header style="height: 125px; background-color: #133f7e;">
        <a href="#">
          <h2 style="color: whitesmoke; font-family: Poppins;">Re<span style="color: black;">Zer</span>V...</h2>
        </a>
          <nav >
            
            <li><a href="#" style="color: red; font-weight: 900;">Taxi-Aéroport</a> </li> 
            <li><a href="#">Voiture/Car</a> </li>
            <li><a href="{{url_for('coon')}}" >Déconnexion</a> </li>
              
          </nav>
      </header>
       <main>
        <div class="touss">
          <div style="width: 20%; height: 15vh; border: 1px solid rgb(146, 145, 145); border-radius: 10px; margin-top: 10%;">
            <h3>Stratégie</h3>
            <h5 style="margin-top: 8%;">Annulation Gratuite</h5>
            <p style="margin-top: 5%; ">Annulez gratuitement jusqu'à 24 <br> heures avant votre départ</p>
          </div>
          <div style="width: 70%;">
            <div class="description">
              <h3>Standard</h3>
              <a href="#">
                <input type="submit" value="Continuer">
              </a>
            </div>
            <div class="description">
              <h3>Exécutif</h3>
              <a href="#">
                <input type="submit" value="Continuer">
              </a>
            </div>
            <div class="description">
              <h3>Transporteur de Personnes</h3>
              <a href="#">
                <input type="submit" value="Continuer">
              </a>
            </div>
          </div>

        </div>
       </main>
       <footer>
        <ul>
          <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
          <li><a href="#"><i class="fa fa-github-square"></i></a></li>
        </ul>
            <p style="margin-top: 3%;">Copyright © 2013 - 2023 ReZerV... Tous droits réservés.</p>
      </footer>
    
</body>
</html>