<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STOCK</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/CSS_1/stock.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header style="height: 125px; background-color: #133f7e;">
        <a href="{{ url_for('index') }}">
          <h2 style="color: whitesmoke; font-family: Poppins;">Re<span style="color: black;">Zer</span>V...</h2>
        </a>
          <nav >
            
            <li><a href="#" >Taxi-Aéroport</a> </li> 
            <li><a href="#" style="color: red; font-weight: 900;">Voiture/Car</a> </li>
            <li><a href="{{url_for('coon')}}" >Déconnexion</a> </li>
              
          </nav>
    </header>
    <main>
        <div class="content">
            <div class="contenant">
                <div class="contenu" >
                    <div class="contenu0"></div>
                    
                    <div class="desc">
                        <h6>Range Rover: 10.000f</h6>
                        <div style="background-color: #133f7e; margin-left: 50%; border-radius: 10px; width: 30%;"><a href="#">Reserver</a></div>
                        
                    </div>
                </div>
                <div class="contenu">
                    <div class="contenu1"></div>
                    
                    <div class="desc">
                        <h6>Mercedes Grand Sedan: 10.000f/j</h6>
                        <div style="background-color: #133f7e; margin-left: 50%; border-radius: 10px; width: 30%;"><a href="#">Reserver</a></div>
                    </div>
                </div>
                <div class="contenu">
                    <div class="contenu2"></div>
                    
                    <div class="desc">
                        <h6>Jeep Renegade: 10.000f/j</h6>
                        <div style="background-color: #133f7e; margin-left: 50%; border-radius: 10px; width: 30%;"><a href="#">Reserver</a></div>
                    </div>
                </div>

            </div>
            <div class="contenant">
                <div class="contenu">
                    <div class="contenu4"></div>
                    
                    <div class="desc">
                        <h6>Mercedes Grand Sedan: 10.000f/j</h6>
                        <div style="background-color: #133f7e; margin-left: 50%; border-radius: 10px; width: 30%;"><a href="#">Reserver</a></div>
                    </div>
                </div>
                <div class="contenu">
                    <div class="contenu5"></div>
                    
                    <div class="desc">
                        <h6>Audi A4: 10.000f/j</h6>
                        <div style="background-color: #133f7e; margin-left: 50%; border-radius: 10px; width: 30%;"><a href="#">Reserver</a></div>

                    </div>
                </div>
                <div class="contenu">
                    <div class="contenu6"></div>
                    
                    <div class="desc">
                        <h6>Mercedes-Benz C-Class: 10.000f/j</h6>
                        <div style="background-color: #133f7e; margin-left: 50%; border-radius: 10px; width: 30%;"><a href="#">Reserver</a></div>
                    </div>
                </div>

            </div>
            <div class="contenant">

                <div class="contenu">
                    <div class="contenu9"></div>
                    
                    <div class="desc">
                        <h6>Audi A4: 10.000f/j</h6>
                        <div style="background-color: #133f7e; margin-left: 50%; border-radius: 10px; width: 30%;"><a href="#">Reserver</a></div>
                    </div>
                </div>
                <div class="contenu">
                    <div class="contenu10" ></div>
                    <div class="desc">
                        <h6>Mercedes Grand Sedan: 10.000f/j</h6>
                        <div style="background-color: #133f7e; margin-left: 50%; border-radius: 10px; width: 30%;"><a href="#">Reserver</a></div>
                    </div>
                </div>
                <div class="contenu">
                    <div class="contenu11"></div>
                    
                    <div class="desc">
                        <h6>BMW 5-Series: 10.000f/j</h6>
                        <div style="background-color: #133f7e; margin-left: 50%; border-radius: 10px; width: 30%;"><a href="#">Reserver</a></div>
                    </div>
                </div>
            </div>
        </div>

    </main>
	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>

			<li><a href="#"><i class="fa fa-github-square"></i></a></li>
		</ul>
        <p style="margin-top: 3%;">Copyright © 2013 - 2023 ReZerV... Tous droits réservés.</p>
	</footer>
</body>
</html>