<!doctype html>
<html>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    <title>Custom Coding</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../static/CSS/taxi.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
      <title>LOCATION TAXI</title>
    
    </head>
    <body>
        <header style="height: 125px; background-color: #133f7e;">
          <a href="#">
            <h2 style="color: whitesmoke; font-family: Poppins;">Re<span style="color: black;">Zer</span>V...</h2>
          </a>
            <nav >
              
              <li><a href="#" style="color: red; font-weight: 900;">Taxi-Aéroport</a> </li> 
              <li><a href="#">Voiture/Car</a> </li>
              <li><a href="{{url_for('coon')}}" >Déconnexion</a> </li>
                
            </nav>
        </header>

        <!-- ==== A REMPLIR POUR TOUTE LES PAGES ==== -->
        <div class="corps">
            <div class="haut">
                <div class="info_option">
                    <div class="info">

                        <h4 style="color: black;">Réservez Votre Taxi Aéroport</h4>
                        <p>Transferts aéroport faciles depuis et vers votre logement</p>
                    </div>
                    <div class="option">
                        <p><input type="checkbox"  class="choix" style="color: black;">Sens Unique</p>
                        <p style="margin-left: 30px;"><input type="checkbox" class="choix" style="color: black;">Aller-Retour</p>
                    </div>
                </div>
                <form method="post" class="tttttt">
                    <input type="text" name="lieu_attente" placeholder="Entrez le Lieu D'attente" class="inpp">
                    <input type="text" name="destination" placeholder="Entrez la Destination" class="inpp">
                    <input type="date" name="startDate"  placeholder="Date" class="date">
                    <input type="time" name="heure_rdv" placeholder="Heure du RDV" class="ssss">
                    <input type="number" min="1" name="passagers" placeholder="Passagers" class="ssss">
                    <input type="submit" value="Trouver" style="width: 130px; height: 60px; background-color: #0071c2; border: 3px solid #febb02; color: aliceblue; font-size: 22px; cursor: pointer;" class="se">
                </form>
            </div>
            <div class="bas">
                <div class="bas1">
                    <div>
                        <img src="../../static/Images/glider-2818823_1280.jpg" style="width: 6%;">
                        <h5>Suivi des vols</h5>
                        <p style="color: gray;">Votre chauffeur suit votre vol et vous <br> attend s'il est retardé</p>
                    </div>
                </div>
                <div class="bas2">
                    <div>
                        <img src="../../static/Images/credit-card-2010884_1280.jpg" style="width: 6%;">
                        <h5>Un prix clair</h5>
                        <p style="color: gray;">Votre prix est confirmé à l'avance - pas <br> de frais supplémentaires, pas d'espèces <br> requises</p>
                    </div>
                </div>
                <div class="bas3">
                    <div>
                        <img src="../../static/Images/check-2935353_1280.png" style="width: 6%;">
                        <h5>Testé et approuvé</h5>
                        <p style="color: gray;">Nous travaillons avec des chauffeurs <br> professionnels et avons un service client <br> 24h/24 et 7j/7</p>
                    </div>
                </div>
            </div>
        </div>
	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>

			<li><a href="#"><i class="fa fa-github-square"></i></a></li>
		</ul>
        <p style="margin-top: 3%;">Copyright © 2013 - 2023 ReZerV... Tous droits réservés.</p>
	</footer>
        
  </body>
</html>

