* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font: normal 16px sans-serif;
    color: #555;
}


body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.contenant{
    display: flex;
    height: 30vh;
    margin: 1%;


}

.contenu0{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu1{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/bac3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu2{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/bac2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu3{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu4{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu5{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu6{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu7{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu8{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu9{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu10{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenu11{
    width: 22%;
    height: 30vh;
    margin-left: 2.5%;
    background-image: url(../Images/voit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



a{
    color: white;
    text-decoration: none;
    text-transform: none;
    text-overflow: clip;
}