/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
General Configurations
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font: normal 16px sans-serif;
    color: #555;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

ul, nav{
    list-style: none;
}

p,h1,h2,h3,h4,h5,h6{
    font-family: "Poppins";
}


h4{
    font-size: 26px;
}

h5{
    font-size: 20px;
}

p{
    font-size: 16px;
}

/*nav-bar style*/
nav{
    list-style: none;
}
a{
    text-decoration: none;
    opacity: 0.75;
    margin: 0 15px;
    color: white;
    cursor: pointer;
}
a:hover{
    opacity: 1;
}
a.btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
    margin-top: 10px;
    color: white

}


section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px;
}

/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Header Configurations
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    padding: 35px 100px 0;
    -webkit-animation: 1s fadein 0.5s forwards;
            animation: 1s fadein 0.5s forwards;
    opacity: 0.5;
    color: white;
}
@-webkit-keyframes fadein{
    100%{
        opacity: 1;
    }
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}

header h2{
    font-family: "Poppins";
    color: white;
}

header nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
}
header nav li{
    margin: 0 15px;
    color: white;
}
@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Cover and Image Animation configuration
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.hero{
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    min-height: 80vh;
    color: white;
}
.hero .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
    -webkit-animation: 15s change 1s forwards;
            animation: 15s change 1s forwards;
    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
}



/*@keyframes change{
    0%{
    background-image: url(../Images/bbb\ .png);
    }
    25%{
       background-image: url(../Images/bac1.jpg);
    }
    50%{
        background-image: url(../Images/bac2.jpg);
        
    }
    75%{
        background-image: url(../Images/bac3.jpg);
        
    }
    100%{
        background-image: url(https://thumbs.dreamstime.com/b/aerial-view-lago-antorno-dolomites-lake-mountain-landscape-alps-peak-misurina-cortina-di-ampezzo-italy-reflected-103752677.jpg);
        
    }
    
}*/
.hero h1{
    font: bold 40px "Poppins", sans-serif;
    margin-bottom: 0px;
    color: white;
}
.hero h3{
    font: normal 20px "Poppins", sans-serif;
    margin-bottom: 20px;
    color: white;
}
.hero a.btn{
    padding: 20px 46px;
}
.hero-content-area{
    opacity: 0;
    margin-top: 150px;
    -webkit-animation: 1s slidefade 1s forwards;
            animation: 1s slidefade 1s forwards;
}
@-webkit-keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}
@keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}


.grid{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}




@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}
	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}


/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1
Section Configurations
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
section h3.title{
    text-transform: capitalize;
    font: bold 32px "Poppins", sans-serif;
    text-align: center;
}



.corps2{
    display: flex;
    background-color: grey;
    position: relative;
    justify-content: center;
    border: 1px solid rgb(251, 250, 250);
    margin-top: 14%;
}


/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;

}


form input{
    padding: 15px;
    margin-right: 30px;
    
}

.contact form .btn{
    width: 200px;
    height: 18px;
    cursor: pointer;
}



@media (max-width: 800px){

	.contact form input{
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
    height: 220px;
}

footer ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

    nav li a{
        font-size: 10px;
        margin: 1%;
    }

    .background-image a{
        font-size: 10px;
    }

    .innn{
        width: 50%;
    }

    section h1{
        font-size: 10px;
    }

    h5{
        font-size: 14px;
    }

    h3{
        font-size: 1px;
    }

    h2{
        font-size: 25px;
    }

    p{
        font-size: 10px;
    }

    .corps2{
        margin-top: 10%;
    }

}